*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body{
	background-image: url('Chess.jpg');
	background-attachment: fixed;
	background-size: cover;
}
h1{
	text-align: center;
	background: linear-gradient(to right,#fff,#000,#000,#fff);
	font-weight: bold;
	font-family: Algerian;
	color: white;
}
.customdiv1{
	background: #000;
	font-family: Algerian;
	font-size: 23px;
	color:white;
	border: 1px solid white;
	margin: 10px;
}
.customdiv2{
	background: #fff;
	font-family: Algerian;
	font-size: 23px;
	border: 1px solid black;
	margin: 10px;
}
.header{
	background: white;
}
.extra{
	height:200px;
}
.first_page{
	color: white;
	width: 100%;
}
.tm-header::after{
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}
.tm-container{
	max-width: 1200px;
	margin: 0 auto;
}
.tm-image{
	float: left;
}
.tm-nav{
	float: right;
	background-color: black; 
}
.tm-nav ul{
	margin-bottom: 0px;
}
.tm-nav ul li {
	display: inline-block;
	font-size: 30px;
}
.tm-nav ul li a{
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	color: white;
	line-height: 160px;
}
.tm-nav ul li a:hover{
	color: #3e99ff;
}
.contacts{
	background-color: white;
	color: black;
	font-family: Algerian;
	font-size: 30px;
}
.contacts-image{
	padding: 20px;
}