body{
	background-image: url('Chess.jpg');
	background-attachment: fixed;
	background-size: cover;
}
h1{
	text-align: center;
	background: linear-gradient(to right,#fff,#000,#000,#fff);
	font-weight: bold;
	font-family: Algerian;
	color: white;
}
.customdiv1{
	background: #000;
	font-family: Algerian;
	font-size: 23px;
	color:white;
	border: 1px solid white;
	margin: 10px;
}
.customdiv2{
	background: #fff;
	font-family: Algerian;
	font-size: 23px;
	border: 1px solid black;
	margin: 10px;
}